.angular-ui-tree-handle {
  cursor: auto;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.angular-ui-tree-placeholder:after {
  content: "Upuść tutaj!";
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  font-size: 1.2em;
  opacity: 0.6;
}
