#visualisation-column {
  width: 335px;
  height: 335px;
  margin: 0;
  padding: 1px;
  background-color: rgb(159, 166, 162);
  border: rgb(159, 166, 162) inset 6px;
  border-radius: 3px;
}

#start-button {
  margin-top: 10px;
}
