#editor-workspace-column {
  width: 100%;
  height: calc(100vh * 0.8);
  margin: 0;
  padding: 0;
  background-color: rgb(210, 232, 219);
  border: rgb(210, 232, 219) inset 6px;
  border-radius: 3px;
}
