#command-kit-column {
  width: 60%;
  height: calc(100vh * 0.8);
  margin: 0;
  margin-left: 70px;
  padding: 0;
  background-color: rgb(35, 200, 99);
  border: rgb(35, 200, 99) inset 6px;
  border-radius: 3px;
}

.angular-ui-tree-handle * {
  cursor: move;
}
